.inputOption {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: #777;
    padding: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.inputOption:hover {
    background-color: whitesmoke;
    color: #333;
    border-radius: 10px;
}
.inputOption > h4 {
    margin-left: .5rem;
}